db:
  user: mydatabaseuser
  password: mydatabasepassword
  database: mydatabasename
  host: localhost
  port: 5432
mongo_logs:
  host: localhost
  port: 27017
  user: root
  password: example
log_level: INFO
telegram_token: mysecretbottoken
webhook_url: mywebhookurl
webhook_path: /
host: localhost
port: 8080